<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>用户登陆</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS
	============================================ -->

    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="assets/css/vendor/font-awesome.css">
    <!-- Fontawesome Star -->
    <link rel="stylesheet" href="assets/css/vendor/fontawesome-stars.css">
    <!-- Ion Icon -->
    <link rel="stylesheet" href="assets/css/vendor/ion-fonts.css">
    <!-- Slick CSS -->
    <link rel="stylesheet" href="assets/css/plugins/slick.css">
    <!-- Animation -->
    <link rel="stylesheet" href="assets/css/plugins/animate.css">
    <!-- jQuery Ui -->
    <link rel="stylesheet" href="assets/css/plugins/jquery-ui.min.css">
    <!-- Lightgallery -->
    <link rel="stylesheet" href="assets/css/plugins/lightgallery.min.css">
    <!-- Nice Select -->
    <link rel="stylesheet" href="assets/css/plugins/nice-select.css">

    <!-- Vendor & Plugins CSS (Please remove the comment from below vendor.min.css & plugins.min.css for better website load performance and remove css files from the above) -->
    <!--
    <script src="assets/js/vendor/vendor.min.js"></script>
    <script src="assets/js/plugins/plugins.min.js"></script>
    -->

    <!-- Main Style CSS (Please use minify version for better website load performance) -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!--<link rel="stylesheet" href="assets/css/style.min.css">-->

</head>

<body class="template-color-1">

<div class="main-wrapper" id="app">

    <!-- Begin Loading Area -->
    <div class="loading">
        <div class="text-center middle">
            <div class="lds-ellipsis">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <!-- Loading Area End Here -->

    <!-- Begin Hiraola's Header Main Area -->
    <header class="header-main_area">
        <div class="header-top_area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="ht-left_area">
                            <div class="header-shipping_area">
                                <ul>
                                    <li>
                                        <span>电话联系:</span>
                                        <a href="callto://+123123321345">(+186) 123 321 345</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="ht-right_area">
                            <div class="ht-menu">
                                <ul>
                                    <li><a href="javascript:void(0)">货币<i class="fa fa-chevron-down"></i></a>
                                        <ul class="ht-dropdown ht-currency">
                                            <li class="active"><a href="javascript:void(0)">¥ 人民币</a></li>
                                            <li><a href="javascript:void(0)">€ EUR</a></li>
                                            <li><a href="javascript:void(0)">£ Pound Sterling</a></li>
                                            <li><a href="javascript:void(0)">$ Us Dollar</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="javascript:void(0)">语言 <i class="fa fa-chevron-down"></i></a>
                                        <ul class="ht-dropdown">
                                            <li><a href="javascript:void(0)"><img src="assets/images/menu/icon/1.jpg" alt="JB's Language Icon">English</a></li>
                                            <li><a href="javascript:void(0)"><img src="assets/images/menu/icon/2.jpg" alt="JB's Language Icon">Français</a>
                                            <li class="active"><a href="javascript:void(0)"><img src="assets/images/menu/icon/3.jpg" alt="JB's Language Icon">中文</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="#">我的登陆<i class="fa fa-chevron-down"></i></a>
                                        <ul class="ht-dropdown ht-my_account">
                                            <li><a href="register-user.html">注册</a></li>
                                            <li class="active"><a href="login-user.html">登陆</a></li>
                                            <li><a href="login-admin.html">管理员登陆</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-middle_area d-none d-lg-block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="header-logo">
                            <a href="index.html">
                                <h2>二手书交易平台</h2>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom_area header-sticky stick">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4 d-lg-none d-block">
                        <div class="header-logo">
                            <a :href="'index.html?userid='+userid">
                                <h3>二手书交易平台</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-9 d-none d-lg-block position-static">
                        <div class="main-menu_area">
                            <nav>
                                <ul>
                                    <li><a href="index.html">主页</a></li>
                                    <li><a href="about-us.html">关于我们</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-8 col-sm-8">
                        <div class="header-right_area">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Hiraola's Header Main Area End Here -->


        <!-- Begin Hiraola's Breadcrumb Area -->
        <div class="breadcrumb-area">
            <div class="container">
                <div class="breadcrumb-content">
                    <h2>用户登陆</h2>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li class="active">用户登陆</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Hiraola's Breadcrumb Area End Here -->
        <!-- Begin Contact Main Page Area -->
        <div class="contact-main-page">

            <div class="container">
                <div class="row">

                    <div class="col-lg-5 offset-lg-1 col-md-12 order-1 order-lg-2">
                        <div class="contact-page-side-content">
                            <h3 class="contact-page-title">联系我们</h3>
                            <p class="contact-page-message">如果您在使用时有任何问题，请联系我们的工作人员，我们会尽快与您取得联系！</p>
                            <div class="single-contact-block">
                                <h4><i class="fa fa-phone"></i>  联系电话</h4>
                                <p>热线: 1009 678 456</p>
                            </div>
                            <div class="single-contact-block last-child">
                                <h4><i class="fa fa-envelope-o"></i>邮箱</h4>
                                <p>support@hastech.company</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12 order-2 order-lg-1">
                        <div class="contact-form-content">
                            <h3 class="contact-page-title">输入信息</h3>
                            <div class="contact-form">
                                                                <form id="contact-form" >
                                <div class="form-group">
                                    <label>你的用户名 <span class="required">*</span></label>
                                    <input v-model="username" type="text" name="con_name" id="con_name" required>
                                </div>
                                <div class="form-group">
                                    <label>你的密码 <span class="required">*</span></label>
                                    <input v-model="password" type="password" name="con_email" id="con_email" required>
                                </div>
                                                                </form>
                                <div class="form-group" @click="login()">
                                    <button class="alsita-contact-form_btn" >登陆</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hiraola's Breadcrumb Area End Here -->

        <!-- Begin Hiraola's Single Product Area -->

        <!-- Hiraola's Single Product Area End Here -->


        <!-- Begin Hiraola's Single Product Tab Area -->

        <!-- Hiraola's Product Area Two End Here -->


        <!-- Begin Hiraola's Footer Area -->
        <div class="hiraola-footer_area">
            <div class="footer-top_area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="footer-widgets_info">

                                <div class="footer-widgets_logo">
                                    <a href="#">
                                        <h2>二手书交易平台</h2>
                                    </a>
                                </div>


                                <div class="widget-short_desc">
                                    <p>为提供顾客更安全，友好的二手书交易平台，我们将不断扩大二手书的种类，提升质量，立志为顾客提供更优秀的服务。
                                    </p>
                                </div>
                                <div class="hiraola-social_link">
                                    <ul>
                                        <li class="facebook">
                                            <a href="https://www.facebook.com" data-toggle="tooltip" target="_blank" title="Facebook">
                                                <i class="fab fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="twitter">
                                            <a href="https://twitter.com" data-toggle="tooltip" target="_blank" title="Twitter">
                                                <i class="fab fa-twitter-square"></i>
                                            </a>
                                        </li>
                                        <li class="google-plus">
                                            <a href="https://www.plus.google.com/discover" data-toggle="tooltip" target="_blank" title="Google Plus">
                                                <i class="fab fa-google-plus"></i>
                                            </a>
                                        </li>
                                        <li class="instagram">
                                            <a href="https://rss.com" data-toggle="tooltip" target="_blank" title="Instagram">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="footer-widgets_area">
                                <div class="row">
                                    <div class="col-lg-5">
                                        <div class="footer-widgets_info">
                                            <div class="footer-widgets_title">
                                                <h6>关于我们</h6>
                                            </div>
                                            <div class="widgets-essential_stuff">
                                                <ul>
                                                    <li class="hiraola-address"><i class="ion-ios-location"></i><span>地址：</span> 上海大学宝山校区计算机学院
                                                    </li>
                                                    <li class="hiraola-phone"><i class="ion-ios-telephone"></i><span>电话：</span> <a href="tel://+123123321345">+123 321 345</a>
                                                    </li>
                                                    <li class="hiraola-email"><i class="ion-android-mail"></i><span>邮箱：</span> <a href="mailto://info@yourdomain.com">info@yourdomain.com</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom_area">
                <div class="container">
                    <div class="footer-bottom_nav">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="payment">
                                    <a href="#">
                                        <img src="assets/images/footer/payment/1.png" alt="Hiraola's Payment Method">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="copyright">
                                    <span>Copyright &copy; 2019.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/"></a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hiraola's Footer Area End Here -->
        <!-- Begin Hiraola's Modal Area -->

        <!-- Hiraola's Modal Area End Here -->
    </header>

</div>

<!-- JS
============================================ -->

<script src="assets/js/vendor/vue.min.js"></script>
<!-- jQuery JS -->
<script src="assets/js/vendor/jquery-1.12.4.min.js"></script>
<!-- Modernizer JS -->
<script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
<!-- Popper JS -->
<script src="assets/js/vendor/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="assets/js/vendor/bootstrap.min.js"></script>

<!-- Slick Slider JS -->
<script src="assets/js/plugins/slick.min.js"></script>
<!-- Countdown JS -->
<script src="assets/js/plugins/countdown.js"></script>
<!-- Barrating JS -->
<script src="assets/js/plugins/jquery.barrating.min.js"></script>
<!-- Counterup JS -->
<script src="assets/js/plugins/jquery.counterup.js"></script>
<!-- Nice Select JS -->
<script src="assets/js/plugins/jquery.nice-select.js"></script>
<!-- Sticky Sidebar JS -->
<script src="assets/js/plugins/jquery.sticky-sidebar.js"></script>
<!-- Jquery-ui JS -->
<script src="assets/js/plugins/jquery-ui.min.js"></script>
<script src="assets/js/plugins/jquery.ui.touch-punch.min.js"></script>
<!-- Lightgallery JS -->
<script src="assets/js/plugins/lightgallery.min.js"></script>
<!-- Scroll Top JS -->
<script src="assets/js/plugins/scroll-top.js"></script>
<!-- Theia Sticky Sidebar JS -->
<script src="assets/js/plugins/theia-sticky-sidebar.min.js"></script>
<!-- Waypoints JS -->
<script src="assets/js/plugins/waypoints.min.js"></script>
<!-- Instafeed JS -->
<script src="assets/js/plugins/instafeed.min.js"></script>
<!-- Instafeed JS -->
<script src="assets/js/plugins/jquery.elevateZoom-3.0.8.min.js"></script>

<!-- Vendor & Plugins JS (Please remove the comment from below vendor.min.js & plugins.min.js for better website load performance and remove js files from avobe) -->
<!--
<script src="assets/js/vendor/vendor.min.js"></script>
<script src="assets/js/plugins/plugins.min.js"></script>
-->

<!-- Main JS -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="assets/js/main.js"></script>
<script type="text/javascript">
    new Vue({
        el: '#app',
        data: {
            username:'',
            password:'',
        },
        watch:{
        },
        methods:{
            login(){
                if (this.username != '' && this.password != '') {
                    var data = {};
                    data.username = this.username;
                    data.password = this.password;
                    fetch('http://139.196.121.254:8091/api/user/login', {
                        method: 'post',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data)
                    })
                        .then(response => response.json())
                        .then(response => {
                            console.log(response)
                            if(response.state === 'error'){
                                this.$message.error("登入失败");
                            }
                            else if (response.state === "success") {
                                if(response.response.authority === 'ROLE') {
                                    var userid = response.response.userid;
                                    window.location.href = "index.html?userid=" + userid;
                                }
                                else if(response.response.username === "admin"){
                                    var userid = response.userid;
                                    window.location.href = "admin-info.html?userid=" + userid;
                                }
                            } else {
                                this.$message.error('登入失败');
                            }
                        })
                        // .catch(error => {
                        //     this.$message.error(error.response);
                        // })
                } else {
                    this.$message.error('请输入完整信息');
                }
            }
        }


    })
</script>

</body>

</html>
