<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>我的信息</title>
    <meta name="robots" content="noindex, follow"/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS
	============================================ -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="assets/css/vendor/font-awesome.css">
    <!-- Fontawesome Star -->
    <link rel="stylesheet" href="assets/css/vendor/fontawesome-stars.css">
    <!-- Ion Icon -->
    <link rel="stylesheet" href="assets/css/vendor/ion-fonts.css">
    <!-- Slick CSS -->
    <link rel="stylesheet" href="assets/css/plugins/slick.css">
    <!-- Animation -->
    <link rel="stylesheet" href="assets/css/plugins/animate.css">
    <!-- jQuery Ui -->
    <link rel="stylesheet" href="assets/css/plugins/jquery-ui.min.css">
    <!-- Lightgallery -->
    <link rel="stylesheet" href="assets/css/plugins/lightgallery.min.css">
    <!-- Nice Select -->
    <link rel="stylesheet" href="assets/css/plugins/nice-select.css">

    <!-- Vendor & Plugins CSS (Please remove the comment from below vendor.min.css & plugins.min.css for better website load performance and remove css files from the above) -->
    <!--
    <script src="assets/js/vendor/vendor.min.js"></script>
    <script src="assets/js/plugins/plugins.min.js"></script>
    -->

    <!-- Main Style CSS (Please use minify version for better website load performance) -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!--<link rel="stylesheet" href="assets/css/style.min.css">-->

</head>

<body class="template-color-1">

<div class="main-wrapper" id="app">

    <!-- Begin Loading Area -->
    <div class="loading">
        <div class="text-center middle">
            <div class="lds-ellipsis">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <!-- Loading Area End Here -->

    <!-- Begin Hiraola's Header Main Area -->
    <header class="header-main_area">
        <div class="header-top_area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="ht-left_area">
                            <div class="header-shipping_area">
                                <ul>
                                    <li>
                                        <span>电话联系:</span>
                                        <a href="callto://+123123321345">(+186) 123 321 345</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="ht-right_area">
                            <div class="ht-menu">
                                <ul>
                                    <li><a href="javascript:void(0)">货币<i class="fa fa-chevron-down"></i></a>
                                        <ul class="ht-dropdown ht-currency">
                                            <li class="active"><a href="javascript:void(0)">¥ 人民币</a></li>
                                            <li><a href="javascript:void(0)">€ EUR</a></li>
                                            <li><a href="javascript:void(0)">£ Pound Sterling</a></li>
                                            <li><a href="javascript:void(0)">$ Us Dollar</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="javascript:void(0)">语言 <i class="fa fa-chevron-down"></i></a>
                                        <ul class="ht-dropdown">
                                            <li><a href="javascript:void(0)"><img src="assets/images/menu/icon/1.jpg"
                                                                                  alt="JB's Language Icon">English</a>
                                            </li>
                                            <li><a href="javascript:void(0)"><img src="assets/images/menu/icon/2.jpg"
                                                                                  alt="JB's Language Icon">Français</a>
                                            <li class="active"><a href="javascript:void(0)"><img
                                                    src="assets/images/menu/icon/3.jpg" alt="JB's Language Icon">中文</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="#">我的登入<i class="fa fa-chevron-down"></i></a>
                                        <ul class="ht-dropdown ht-my_account">
                                            <li><a href="register-user.html">注册</a></li>
                                            <li class="active"><a href="login-user.html">登入</a></li>
                                            <li><a href="login-admin.html">管理员登入</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-middle_area d-none d-lg-block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="header-logo">
                            <a href="index.html">
                                <h2>二手书交易平台</h2>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom_area header-sticky stick">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4 d-lg-none d-block">
                        <div class="header-logo">
                            <a href="index.html">
                                <h2>二手书交易平台</h2>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-9 d-none d-lg-block position-static">
                        <div class="main-menu_area">
                            <nav>
                                <ul>
                                    <li><a @click="jump">主页</a></li>
                                    <li><a href="about-us.html">关于我们</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-8 col-sm-8">
                        <div class="header-right_area">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Hiraola's Header Main Area End Here -->


    <!-- Begin Hiraola's Breadcrumb Area -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="breadcrumb-content">
                <h2>用户信息</h2>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li class="active">用户信息</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Hiraola's Breadcrumb Area End Here -->
    <!-- Begin Contact Main Page Area -->
    <div class="userinformation">
        <div class="info-ima">
            <image src="assets\images\info\1.jpg"></image>
        </div>
        <div class="info-mess">
            <ul class="ht-dropdown ht-my_account">
                <li>你的ID :{{user.userid}}</li>
                <hr width=100% size=40 color=#cda557 style="filter:alpha(opacity=100,finishopacity=0,style=2)">
                <li>你的昵称 :{{user.username}}</li>
                <hr width=100% size=40 color=#cda557 style="filter:alpha(opacity=100,finishopacity=0,style=2)">
                <li>你的姓名 :{{user.name}}</li>
                <hr width=100% size=40 color=#cda557 style="filter:alpha(opacity=100,finishopacity=0,style=2)">
                <li>你的电话 :{{user.phone}}</li>
                <hr width=100% size=40 color=#cda557 style="filter:alpha(opacity=100,finishopacity=0,style=2)">
                <li>你的余额 :{{user.money}}</li>
                <hr width=100% size=40 color=#cda557 style="filter:alpha(opacity=100,finishopacity=0,style=2)">
                <!--                <li>你的邮箱</li>-->
                <!--                <hr width=100% size=40 color=#cda557 style="filter:alpha(opacity=100,finishopacity=0,style=2)">-->
                <!--                <li>你的电话</li>-->
                <!--                <hr width=100% size=40 color=#cda557 style="filter:alpha(opacity=100,finishopacity=0,style=2)">-->

                <el-button @click="submitbook()" style="margin-top:20px;margin-bottom:1cm;"
                           size="medium" type="warning" flat>提交
                </el-button>
            </ul>
        </div>
    </div>
    <!-- <div class="chart">
         <h5>购物车板块</h5>

     </div> -->
    <div class="hiraola-product-tab_area-2 sp-product-tab_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="sp-product-tab_nav ">
                        <div class="product-tab">
                            <ul class="nav product-menu">
                                <li><a class="active" data-toggle="tab" href="#chart"><span>购物车</span></a>
                                </li>
                                <li><a data-toggle="tab" href="#youritem"><span>上传物品</span></a></li>
                                <li><a data-toggle="tab" href="#history"><span>购物历史</span></a></li>
                                <li><a data-toggle="tab" href="#money"><span>余额管理</span></a></li>
                            </ul>
                        </div>
                        <div class="tab-content hiraola-tab_content">
                            <div id="chart" class="tab-pane active show" role="tabpanel">
                                <div>
                                    <ul>
                                        <li :class="{'chart-message':true,'selected':item.selected}"
                                            v-for="item,index in cartData"
                                            style="height: 250px;padding-top: 10px">

                                            <div class="chartimg" style="margin-left: 20px">

                                                <img :src="item.image" class="checkboximg"
                                                     @click="choose(index)"/>
                                            </div>

                                            <div class="chartinfo" style="padding: 10px 10px">
                                                <strong>{{item.book.title}}</strong>
                                                <div style="margin-top: 20px">{{item.book.description}}</div>
                                                <br>
                                                <p style="color: #595959; font-weight:bold">原价：￥<span
                                                        style="text-decoration: line-through">{{item.book.normalcost}}</span>
                                                </p>
                                                <p style="color: #595959; font-weight:bold">
                                                    现价：￥<span>{{item.book.cost}}</span></p>
                                                <p style="color: #595959; font-weight:bold">
                                                    卖家ID：<span>{{item.solderid}}</span></p>
                                            </div>
                                        </li>
                                    </ul>

                                    <div class="hiraola-btn-ps_right">
                                        <el-button @click="buy" type="success" style="margin-top:50px;margin-left: 900px" round size="medium" >提交订单</el-button>
                                    </div>
                                </div>
                            </div>
                            <div id="youritem" class="tab-pane" role="tabpanel">
                                <div class="product-description" style="text-align: center">
                                    <div style="margin-bottom: 100px">
                                        <el-upload
                                                action="http://139.196.121.254:8091/upload"
                                                list-type="picture-card"
                                                accept="image/*"
                                                :limit="imgLimit"
                                                :file-list="productImgs"
                                                :on-preview="handlePictureCardPreview"
                                                :on-remove="handleRemove"
                                                :on-success="handleAvatarSuccess"
                                                :before-upload="beforeAvatarUpload"
                                                :on-exceed="handleExceed"
                                                :on-error="imgUploadError">
                                            <i class="el-icon-plus"></i>
                                        </el-upload>
                                        <el-dialog :visible.sync="dialogVisible">
                                            <img width="100%" :src="dialogImageUrl" alt="">
                                        </el-dialog>
                                    </div>
                                        <el-form ref="form" :model="form" label-width="80px"
                                                 style="width: 600px;margin:0 auto">
                                            <el-form-item label="图书名称">
                                                <el-input v-model="form.name"></el-input>
                                            </el-form-item>
                                            <el-form-item label="图书简介" size="medium">
                                                <el-input type="textarea" v-model="form.desc"></el-input>
                                            </el-form-item>
                                            <el-form-item label="价格">
                                                <el-input v-model="form.price"></el-input>
                                            </el-form-item>
                                            <el-form-item label="原价">
                                                <el-input v-model="form.normal"></el-input>
                                            </el-form-item>
                                            <el-form-item label="标签">
                                                <el-tag
                                                        :key="tag"
                                                        v-for="tag in form.dynamicTags"
                                                        closable
                                                        :disable-transitions="false"
                                                        @close="handleClose(tag)">
                                                    {{tag}}
                                                </el-tag>
                                                <el-input
                                                        class="input-new-tag"
                                                        v-if="inputVisible"
                                                        v-model="inputValue"
                                                        ref="saveTagInput"
                                                        size="small"
                                                        @keyup.enter.native="handleInputConfirm"
                                                        @blur="handleInputConfirm"
                                                >
                                                </el-input>
                                                <el-button v-else class="button-new-tag" size="medium" @click="showInput">+ 新标签</el-button>
                                            </el-form-item>
                                        </el-form>
                                    <el-button type="warning" size="medium" @click="submitbook">提交</el-button>
                                </div>
                            </div>
                            <div id="history" class="tab-pane" role="tabpanel">
                                <div class="tab-pane active" id="tab-review">
                                    <el-table
                                            :data="tableData"
                                            stripe
                                            style="width: 100%">
                                        <el-table-column
                                                prop="reid"
                                                label="记录号"
                                                align="center"
                                                width="150"
                                        >
                                        </el-table-column>
                                        <el-table-column
                                                prop="bookid"
                                                label="图书编号"
                                                align="center"
                                                width="150"
                                        >
                                        </el-table-column>
                                        <el-table-column
                                                prop="user.name"
                                                align="center"
                                                label="买家姓名"
                                                width="150"
                                        >
                                        </el-table-column>
                                        <el-table-column
                                                prop="solder.name"
                                                align="center"
                                                label="卖家姓名"
                                                width="150"
                                        >
                                        </el-table-column>
                                        <el-table-column
                                                prop="date"
                                                label="购买日期"
                                                align="center"
                                                width="250"
                                        >
                                        </el-table-column>
                                        <el-table-column
                                                prop="address"
                                                label="地址"
                                                align="center"
                                                width="300">
                                        </el-table-column>
                                        <el-table-column
                                                fixed="right"
                                                label="是否确认收货"
                                                prop="forsure"
                                                width="150"
                                                align="center"
                                                :filters="[{ text: '确认', value: true }, { text: '异常', value: false }]"
                                                :filter-method="filterTag"
                                                filter-placement="bottom-end">
                                            <template slot-scope="scope">
                                                <!--                <el-tooltip class="item" effect="dark" content="只有异常指标会弹出数据显示哦~" placement="right">-->
                                                <el-tag
                                                        :type="scope.row.forsure === true ? 'success' : 'danger'"
                                                        disable-transitions @click="handleClickOnTag(scope)">
                                                    {{scope.row.forsure === true ? '确认' : '未确认'}}
                                                </el-tag>
                                                <!--                </el-tooltip>-->
                                            </template>
                                        </el-table-column>
                                    </el-table>
                                    <el-dialog
                                            title="确认收货"
                                            :visible.sync="dialogVisible"
                                            width="30%"
                                            :before-close="handleClose">
                                        如果确认收货，那么资金将被打入卖家账户，您确认吗？
                                        <span slot="footer" class="dialog-footer">
                                <el-button type="primary" @click="confirm()">确认</el-button>
                                            <el-button @click="dialogVisible = false">关闭</el-button>
            </span>
                                    </el-dialog>
                                </div>
                            </div>
                            <div id="money" class="tab-pane" role="tabpanel">
                                <table class="table table-bordered specification-inner_stuff">
                                    <tbody>
                                    <tr>
                                        <td colspan="2"><strong>当前账户余额</strong></td>
                                    </tr>
                                    </tbody>
                                    <tbody>
                                    <tr>
                                        <td>{{user.money}}</td>
                                        <td>RGB</td>
                                    </tr>
                                    </tbody>
                                    <tbody>
                                    <tr>
                                        <td colspan="2"><strong>充值</strong></td>
                                    </tr>
                                    </tbody>
                                    <tbody>
                                    <tr>
                                        <td>输入想要充值的金额：<input v-model="addMoney" type="text"
                                                             style="border-radius:6px;background-color: transparent;">
                                        </td>
                                        <td>

                                            <div class="hiraola-btn-ps_right">
                                                <a @click="addmoney()"
                                                   class="hiraola-btn hiraola-btn_dark">确认充值</a>
                                            </div>

                                        </td>
                                    </tr>

                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hiraola's Breadcrumb Area End Here -->

    <!-- Begin Hiraola's Single Product Area -->

    <!-- Hiraola's Single Product Area End Here -->


    <!-- Begin Hiraola's Single Product Tab Area -->

    <!-- Hiraola's Product Area Two End Here -->


    <!-- Begin Hiraola's Footer Area -->
    <div class="hiraola-footer_area">
        <div class="footer-top_area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="footer-widgets_info">

                            <div class="footer-widgets_logo">
                                <a href="#">
                                    <h2>二手书交易平台</h2>
                                </a>
                            </div>


                            <div class="widget-short_desc">
                                <p>为提供顾客更安全，友好的二手书交易平台，我们将不断扩大二手书的种类，提升质量，立志为顾客提供更优秀的服务。
                                </p>
                            </div>
                            <div class="hiraola-social_link">
                                <ul>
                                    <li class="facebook">
                                        <a href="https://www.facebook.com" data-toggle="tooltip" target="_blank"
                                           title="Facebook">
                                            <i class="fab fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="twitter">
                                        <a href="https://twitter.com" data-toggle="tooltip" target="_blank"
                                           title="Twitter">
                                            <i class="fab fa-twitter-square"></i>
                                        </a>
                                    </li>
                                    <li class="google-plus">
                                        <a href="https://www.plus.google.com/discover" data-toggle="tooltip"
                                           target="_blank" title="Google Plus">
                                            <i class="fab fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li class="instagram">
                                        <a href="https://rss.com" data-toggle="tooltip" target="_blank"
                                           title="Instagram">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="footer-widgets_area">
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="footer-widgets_info">
                                        <div class="footer-widgets_title">
                                            <h6>关于我们</h6>
                                        </div>
                                        <div class="widgets-essential_stuff">
                                            <ul>
                                                <li class="hiraola-address"><i
                                                        class="ion-ios-location"></i><span>地址：</span> 上海大学宝山校区计算机学院
                                                </li>
                                                <li class="hiraola-phone"><i
                                                        class="ion-ios-telephone"></i><span>电话：</span> <a
                                                        href="tel://+123123321345">+123 321 345</a>
                                                </li>
                                                <li class="hiraola-email"><i
                                                        class="ion-android-mail"></i><span>邮箱：</span> <a
                                                        href="mailto://info@yourdomain.com">info@yourdomain.com</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom_area">
            <div class="container">
                <div class="footer-bottom_nav">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="payment">
                                <a href="#">
                                    <img src="assets/images/footer/payment/1.png" alt="Hiraola's Payment Method">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="copyright">
                                <span>Copyright &copy; 2019.Company name All rights reserved.<a target="_blank"
                                                                                                href="http://sc.chinaz.com/moban/"></a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hiraola's Footer Area End Here -->
    <!-- Begin Hiraola's Modal Area -->

    <!-- Hiraola's Modal Area End Here -->

</div>

<!-- JS
============================================ -->
<script src="assets/js/vendor/vue.min.js"></script>
<!-- jQuery JS -->
<script src="assets/js/vendor/jquery-1.12.4.min.js"></script>
<!-- Modernizer JS -->
<script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
<!-- Popper JS -->
<script src="assets/js/vendor/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="assets/js/vendor/bootstrap.min.js"></script>

<!-- Slick Slider JS -->
<script src="assets/js/plugins/slick.min.js"></script>
<!-- Countdown JS -->
<script src="assets/js/plugins/countdown.js"></script>
<!-- Barrating JS -->
<script src="assets/js/plugins/jquery.barrating.min.js"></script>
<!-- Counterup JS -->
<script src="assets/js/plugins/jquery.counterup.js"></script>
<!-- Nice Select JS -->
<script src="assets/js/plugins/jquery.nice-select.js"></script>
<!-- Sticky Sidebar JS -->
<script src="assets/js/plugins/jquery.sticky-sidebar.js"></script>
<!-- Jquery-ui JS -->
<script src="assets/js/plugins/jquery-ui.min.js"></script>
<script src="assets/js/plugins/jquery.ui.touch-punch.min.js"></script>
<!-- Lightgallery JS -->
<script src="assets/js/plugins/lightgallery.min.js"></script>
<!-- Scroll Top JS -->
<script src="assets/js/plugins/scroll-top.js"></script>
<!-- Theia Sticky Sidebar JS -->
<script src="assets/js/plugins/theia-sticky-sidebar.min.js"></script>
<!-- Waypoints JS -->
<script src="assets/js/plugins/waypoints.min.js"></script>
<!-- Instafeed JS -->
<script src="assets/js/plugins/instafeed.min.js"></script>
<!-- Instafeed JS -->
<script src="assets/js/plugins/jquery.elevateZoom-3.0.8.min.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<!-- Vendor & Plugins JS (Please remove the comment from below vendor.min.js & plugins.min.js for better website load performance and remove js files from avobe) -->
<!--
<script src="assets/js/vendor/vendor.min.js"></script>
<script src="assets/js/plugins/plugins.min.js"></script>
-->

<!-- Main JS -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="assets/js/main.js"></script>
<script type="text/javascript">
    new Vue({
        el: '#app',
        data: {
            ipaddress:'http://139.196.121.254:8081/',
            dialogImageUrl: '',
            dialogVisible: false,
            productImgs: [],
            isMultiple: true,
            imgLimit: 1,
            addMoney: '',
            formDate: "",
            cartData: [],
            form: {
                dynamicTags:[],
                name: '',
                desc: '',
                normal: '',
                price: ''
            },
            user: '',
            tableData: [],
            selectNow: '',
            userid: '',
            imageUrl:'',
            inputVisible: false,
            inputValue: '',
        },
        created() {
            this.userid = this.getData('userid')    //用户信息
            fetch('http://139.196.121.254:8091/api/user/' + this.userid)
                .then(response => response.json())
                .then(response => {
                    console.log(response)
                    this.user = response;
                })
            fetch('http://139.196.121.254:8091/api/shop/user/' + this.userid)
                .then(response => response.json())
                .then(response => {
                    var temp = response;
                    console.log(response)
                    for (var i = 0; i < temp.length; i++) {
                        temp[i].selected = false;
                        temp[i].image = this.ipaddress + temp[i].book.image;
                    }
                    this.cartData = temp
                    console.log('cartData')
                    console.log(this.cartData)
                })
            fetch('http://139.196.121.254:8091/api/record/asbuyer/' + this.userid)
                .then(response => response.json())
                .then(response => {
                    console.log(response)
                    this.tableData = response
                })

        },
        methods: {
            submitbook(){
                var data = {}
                data.solder = this.userid;
                data.title = this.form.name;
                data.cost = this.form.price;
                data.normalcost = this.form.normal;
                data.description = this.form.desc;
                data.image = this.imageUrl;
                // var x = []
                // for(var i =0 ;i<this.form.dynamicTags.length;i++){
                //     x.push(this.form.dynamicTags[i])
                // }
                data.taglist = this.form.dynamicTags
                console.log(data)
                if(data.image != '' && data.title != '' && data.cost != '') {
                    fetch('http://139.196.121.254:8091/api/book/create', {
                        method: 'post',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data)
                    })
                        .then(response=>response.json())
                        .then(response=>{
                            console.log(response)
                            if(response.state === 'success'){
                                this.$message({
                                    message: '上传成功',
                                    type: 'success'
                                });
                            }
                        })
                }
                else{
                    this.$message.error("您必须填写完整信息")
                }
            },
            handleClose(tag) {
                this.form.dynamicTags.splice(this.form.dynamicTags.indexOf(tag), 1);
            },

            showInput() {
                this.inputVisible = true;
                this.$nextTick(_ => {
                    this.$refs.saveTagInput.$refs.input.focus();
                });
            },

            handleInputConfirm() {
                let inputValue = this.inputValue;
                if (inputValue) {
                    this.form.dynamicTags.push(inputValue);
                }
                this.inputVisible = false;
                this.inputValue = '';
            },
            handleRemove(file, fileList) {//移除图片
            },
            handlePictureCardPreview(file) {//预览图片时调用
                this.dialogImageUrl = file.url;
                this.dialogVisible = true;
            },

            beforeAvatarUpload(file) {//文件上传之前调用做一些拦截限制
                console.log(file);
                const isJPG = true;
                // const isJPG = file.type === 'image/jpeg';
                const isLt2M = file.size / 1024 / 1024 < 1;

                // if (!isJPG) {
                //   this.$message.error('上传头像图片只能是 JPG 格式!');
                // }
                if (!isLt2M) {
                    this.$message.error('上传图片大小不能超过 1MB!');
                }
                return isJPG && isLt2M;
            },
            handleAvatarSuccess(res, file) {//图片上传成功
                console.log(res);
                console.log("file")
                console.log(file);
                this.imageUrl = res.response;
            },
            handleExceed(files, fileList) {//图片上传超过数量限制
                this.$message.error('上传图片不能超过1张!');
                console.log(file, fileList);
            },
            imgUploadError(err, file, fileList) {//图片上传失败调用
                console.log(err)
                this.$message.error('上传图片失败!');
            },
            addmoney() {
                console.log(this.user.username)
                var data = {}
                data.username = this.user.username;
                data.money = this.addMoney;
                fetch('http://139.196.121.254:8091/api/money/create', {
                    method: 'post',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                })
                    .then(response => response.json())
                    .then(response => {
                        if (response.state === "success") {
                            this.$message({
                                message: '充值成功',
                                type: 'success'
                            });
                        }
                    })
            },
            getData(name) {
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
                var r = window.location.search.substr(1).match(reg);
                return r[2]
            },
            confirm() {
                this.tableData[this.selectNow].forsure = true
                var data = {}
                data.reid = this.tableData[this.selectNow].reid
                data.bookid = this.tableData[this.selectNow].bookid
                data.buyid = this.userid;
                data.solderid = this.tableData[this.selectNow].solder.userid
                console.log(data)
                fetch('http://139.196.121.254:8091/api/record/sure', {
                    method: 'post',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                })
                    .then(response => response.json())
                    .then(response => {
                        console.log(response)
                        if (response.state === "success") {
                            this.$message({
                                message: '成功确认到货~',
                                type: 'success'
                            });
                        } else {
                            this.$message.error(response.response)
                        }
                    })
                this.dialogVisible = false
            },
            handleClickOnTag(flag) {
                if (flag.row.forsure === false) {
                    this.dialogVisible = true;
                    this.selectNow = flag.$index
                }
            },
            filterTag(value, row) {
                return row.forsure === value;
            },
            choose(id) {

                if (this.cartData[id].selected == true) {
                    this.cartData[id].selected = false;
                } else {
                    this.cartData[id].selected = true;
                }
            },

            buy() {
                for (var i = 0; i < this.cartData.length; i++) {
                    if (this.cartData[i].selected === true) {
                        var temp = {}
                        temp.bookid = this.cartData[i].book.bookid
                        temp.address = '上海宝山区'
                        temp.bookcost = this.cartData[i].book.cost
                        temp.solderid = this.cartData[i].solderid
                        temp.buyid = this.userid
                        fetch('http://139.196.121.254:8091/api/record/create', {
                            method: 'post',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(temp)
                        })
                            .then(response => response.json())
                            .then(response => {
                                if (response.state === 'error') {
                                    this.$message.error(response.info)
                                } else {
                                    this.$message({
                                        message: '购买成功',
                                        type: 'success'
                                    });
                                }

                            })
                    }
                }
            },
            jump() {
                window.location.href = "index.html?userid="+this.userid
            },
        }
    })
</script>
<style scoped>
    .selected {
        background: rgba(255, 246, 144, 0.73);
    }
    .el-tag + .el-tag {
        margin-left: 10px;
    }
    .button-new-tag {
        margin-left: 10px;
        height: 32px;
        line-height: 30px;
        padding-top: 0;
        padding-bottom: 0;
    }
    .input-new-tag {
        width: 90px;
        margin-left: 10px;
        vertical-align: bottom;
    }
</style>

</body>

</html>
