<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>我的信息</title>
    <meta name="robots" content="noindex, follow"/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS
	============================================ -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="assets/css/vendor/font-awesome.css">
    <!-- Fontawesome Star -->
    <link rel="stylesheet" href="assets/css/vendor/fontawesome-stars.css">
    <!-- Ion Icon -->
    <link rel="stylesheet" href="assets/css/vendor/ion-fonts.css">
    <!-- Slick CSS -->
    <link rel="stylesheet" href="assets/css/plugins/slick.css">
    <!-- Animation -->
    <link rel="stylesheet" href="assets/css/plugins/animate.css">
    <!-- jQuery Ui -->
    <link rel="stylesheet" href="assets/css/plugins/jquery-ui.min.css">
    <!-- Lightgallery -->
    <link rel="stylesheet" href="assets/css/plugins/lightgallery.min.css">
    <!-- Nice Select -->
    <link rel="stylesheet" href="assets/css/plugins/nice-select.css">

    <!-- Vendor & Plugins CSS (Please remove the comment from below vendor.min.css & plugins.min.css for better website load performance and remove css files from the above) -->
    <!--
    <script src="assets/js/vendor/vendor.min.js"></script>
    <script src="assets/js/plugins/plugins.min.js"></script>
    -->

    <!-- Main Style CSS (Please use minify version for better website load performance) -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!--<link rel="stylesheet" href="assets/css/style.min.css">-->

</head>

<body class="template-color-1">

<div class="main-wrapper" id="app">

    <!-- Begin Loading Area -->
    <div class="loading">
        <div class="text-center middle">
            <div class="lds-ellipsis">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <!-- Loading Area End Here -->

    <!-- Begin Hiraola's Header Main Area -->
    <header class="header-main_area">
        <div class="header-top_area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="ht-left_area">
                            <div class="header-shipping_area">
                                <ul>
                                    <li>
                                        <span>电话联系:</span>
                                        <a href="callto://+123123321345">(+186) 123 321 345</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="ht-right_area">
                            <div class="ht-menu">
                                <ul>
                                    <li><a href="javascript:void(0)">货币<i class="fa fa-chevron-down"></i></a>
                                        <ul class="ht-dropdown ht-currency">
                                            <li class="active"><a href="javascript:void(0)">¥ 人民币</a></li>
                                            <li><a href="javascript:void(0)">€ EUR</a></li>
                                            <li><a href="javascript:void(0)">£ Pound Sterling</a></li>
                                            <li><a href="javascript:void(0)">$ Us Dollar</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="javascript:void(0)">语言 <i class="fa fa-chevron-down"></i></a>
                                        <ul class="ht-dropdown">
                                            <li><a href="javascript:void(0)"><img src="assets/images/menu/icon/1.jpg"
                                                                                  alt="JB's Language Icon">English</a>
                                            </li>
                                            <li><a href="javascript:void(0)"><img src="assets/images/menu/icon/2.jpg"
                                                                                  alt="JB's Language Icon">Français</a>
                                            <li class="active"><a href="javascript:void(0)"><img
                                                    src="assets/images/menu/icon/3.jpg" alt="JB's Language Icon">中文</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="#">我的登陆<i class="fa fa-chevron-down"></i></a>
                                        <ul class="ht-dropdown ht-my_account">
                                            <li><a href="register-user.html">注册</a></li>
                                            <li class="active"><a href="login-user.html">登陆</a></li>
                                            <li><a href="login-admin.html">管理员登陆</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-middle_area d-none d-lg-block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="header-logo">
                            <a href="index.html">
                                <h2>二手书交易平台</h2>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom_area header-sticky stick">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4 d-lg-none d-block">
                        <div class="header-logo">
                            <a href="index.html">
                                <h2>二手书交易平台</h2>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-9 d-none d-lg-block position-static">
                        <div class="main-menu_area">
                            <nav>
                                <ul>
                                    <li><a href="index.html">主页</a></li>
                                    <li><a href="about-us.html">关于我们</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-8 col-sm-8">
                        <div class="header-right_area">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Hiraola's Header Main Area End Here -->


    <!-- Begin Hiraola's Breadcrumb Area -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="breadcrumb-content">
                <h2>用户信息</h2>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li class="active">用户信息</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Hiraola's Breadcrumb Area End Here -->
    <!-- Begin Contact Main Page Area -->
    <div class="userinformation">
        <div class="info-ima">
            <image src="assets\images\info\1.jpg"></image>
        </div>
        <div class="info-mess">
            <ul class="ht-dropdown ht-my_account">
                <li>你的ID</li>
                <hr width=100% size=40 color=#cda557 style="filter:alpha(opacity=100,finishopacity=0,style=2)">
                <li>你的昵称</li>
                <hr width=100% size=40 color=#cda557 style="filter:alpha(opacity=100,finishopacity=0,style=2)">
                <li>你的姓名</li>
                <hr width=100% size=40 color=#cda557 style="filter:alpha(opacity=100,finishopacity=0,style=2)">
                <li>你的邮箱</li>
                <hr width=100% size=40 color=#cda557 style="filter:alpha(opacity=100,finishopacity=0,style=2)">
                <li>你的电话</li>
                <hr width=100% size=40 color=#cda557 style="filter:alpha(opacity=100,finishopacity=0,style=2)">
                <div class="hiraola-btn-ps_right">
                    <a href="javascript:void(0)" class="hiraola-btn hiraola-btn_dark" style="margin-left:16cm;">修改</a>
                </div>
            </ul>
        </div>
    </div>
    <!-- <div class="chart">
         <h5>购物车板块</h5>

     </div> -->
    <div class="hiraola-product-tab_area-2 sp-product-tab_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="sp-product-tab_nav ">
                        <div class="product-tab">
                            <ul class="nav product-menu">
                                <li><a class="active" data-toggle="tab" href="#chart"><span>购物车</span></a>
                                </li>
                                <li><a data-toggle="tab" href="#youritem"><span>上传物品</span></a></li>
                                <li><a data-toggle="tab" href="#history"><span>购物历史</span></a></li>
                                <li><a data-toggle="tab" href="#money"><span>余额管理</span></a></li>
                            </ul>
                        </div>
                        <div class="tab-content hiraola-tab_content">
                            <div id="chart" class="tab-pane active show" role="tabpanel">
                                <div>
                                    <ul>
                                        <li :class="{'chart-message':true,'selected':item.selected}"
                                            v-for="item,index in cartData"
                                            style="height: 250px;padding-top: 10px">

                                            <div class="chartimg" style="margin-left: 20px">

                                                <img src="assets\images\userinfo\1.jpg" class="checkboximg" @click="choose(index)"/>
                                            </div>

                                            <div class="chartinfo" style="padding: 10px 10px">
                                                <strong>《书籍名称》</strong>
                                                <span>书籍的介绍.书籍的介绍.书籍的介绍.书籍的介绍.书籍的介绍.书籍的介绍.书籍的介绍.书籍的介绍</span>
                                                <br><br>
                                                <p style="color: #595959; font-weight:bold">价格：</p>
                                                <p style="color: #595959; font-weight:bold">卖家：</p>
                                                <div class="quantitynew">
                                                    <div class="sp-content">
                                                        <div class="quantity">
                                                            <lable style="color: #595959; font-weight:bold;float:left">
                                                                数量：
                                                            </lable>
                                                            <el-input-number size="mini" v-model="item.num"></el-input-number>
<!--                                                            <div class="cart-plus-minus">-->
<!--                                                                <input class="cart-plus-minus-box" value="1"-->
<!--                                                                       type="text">-->
<!--                                                                <div class="dec qtybutton"><i-->
<!--                                                                        class="fa fa-angle-down"></i></div>-->
<!--                                                                <div class="inc qtybutton"><i-->
<!--                                                                        class="fa fa-angle-up"></i></div>-->
<!--                                                            </div>-->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>

                                    <div class="hiraola-btn-ps_right">
                                        <a href="javascript:void(0)" class="hiraola-btn hiraola-btn_dark"
                                           style="margin-left:22cm;">购买</a>
                                    </div>
                                </div>
                            </div>
                            <div id="youritem" class="tab-pane" role="tabpanel">
                                <div class="product-description">
                                    <div style="margin-left: 100px">
                                    <el-upload
                                            :multiple="true"
                                            list-type="picture-card"
                                            :auto-upload="false"
                                            :http-request="uploadFile"
                                            ref="upload"
                                            :on-preview="handlePictureCardPreview"
                                            :on-remove="handleRemove">
                                        <i class="el-icon-plus"></i>
                                    </el-upload>
                                    <el-dialog :visible.sync="dialogVisible">
                                        <img width="100%" :src="dialogImageUrl" alt="">
                                    </el-dialog>
                                    <el-button @click="subPicForm">提交上传</el-button>
                                    </div>

                                    <ul>
<!--                                        <li class="chart-message">-->
<!--                                            <div class="chartinfo">-->
<!--                                                <strong>《书籍名称》</strong>-->
<!--                                                <span>书籍的介绍.书籍的介绍.书籍的介绍.书籍的介绍.书籍的介绍.书籍的介绍.书籍的介绍.书籍的介绍</span>-->
<!--                                                <br><br>-->
<!--                                                <p style="color: #595959; font-weight:bold">价格：</p>-->
<!--                                                <p style="color: #595959; font-weight:bold">卖家：</p>-->
<!--                                                <p style="color: #595959; font-weight:bold">数量：</p>-->
<!--                                            </div>-->
<!--                                        </li>-->
                                        <el-form ref="form" :model="form" label-width="80px" style="width: 600px;margin:0 auto">
                                            <el-form-item label="图书名称">
                                            <el-input v-model="form.name"></el-input>
                                        </el-form-item>
                                            <el-form-item label="图书简介">
                                                <el-input type="textarea" v-model="form.desc"></el-input>
                                            </el-form-item>
                                            <el-form-item label="价格">
                                                <el-input v-model="form.price"></el-input>
                                            </el-form-item>
                                            <el-form-item label="数量">
                                                <el-input v-model="form.num"></el-input>
                                            </el-form-item>
                                        </el-form>


                                    </ul>
                                    <div class="hiraola-btn-ps_right">
                                        <a href="javascript:void(0)" class="hiraola-btn hiraola-btn_dark"
                                           style="margin-left:22cm;">修改</a>
                                    </div>
                                </div>
                            </div>
                            <div id="history" class="tab-pane" role="tabpanel">
                                <div class="tab-pane active" id="tab-review">
                                    <form class="form-horizontal" id="form-review">
                                        <div id="review">
                                            <table class="table table-bordered specification-inner_stuff">
                                                <tbody>
                                                <tr>
                                                    <td><strong>书名</strong></td>
                                                    <td><strong>价格</strong></td>
                                                    <td><strong>数量</strong></td>
                                                    <td><strong>价格</strong></td>
                                                    <td><strong>购买日期</strong></td>
                                                </tr>
                                                </tbody>
                                                <tbody>
                                                <tr>
                                                    <td>{{message}}</td>
                                                    <td>{{message}}</td>
                                                    <td>{{message}}</td>
                                                    <td>{{message}}</td>
                                                    <td>{{message}}</td>
                                                </tr>
                                                </tbody>
                                                <tbody>
                                                <tr>
                                                    <td>{{message}}</td>
                                                    <td>{{message}}</td>
                                                    <td>{{message}}</td>
                                                    <td>{{message}}</td>
                                                    <td>{{message}}</td>
                                                </tr>
                                                </tbody>

                                            </table>
                                        </div>

                                    </form>
                                </div>
                            </div>
                            <div id="money" class="tab-pane" role="tabpanel">
                                <table class="table table-bordered specification-inner_stuff">
                                    <tbody>
                                    <tr>
                                        <td colspan="2"><strong>当前账户余额</strong></td>
                                    </tr>
                                    </tbody>
                                    <tbody>
                                    <tr>
                                        <td>{{money}}</td>
                                        <td>RGB</td>
                                    </tr>
                                    </tbody>
                                    <tbody>
                                    <tr>
                                        <td colspan="2"><strong>充值</strong></td>
                                    </tr>
                                    </tbody>
                                    <tbody>
                                    <tr>
                                        <td>输入想要充值的金额：<input type="text"
                                                             style="border-radius:6px;background-color: transparent;">
                                        </td>
                                        <td>

                                            <div class="hiraola-btn-ps_right">
                                                <a href="javascript:void(0)"
                                                   class="hiraola-btn hiraola-btn_dark">确认充值</a>
                                            </div>

                                        </td>
                                    </tr>

                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hiraola's Breadcrumb Area End Here -->

    <!-- Begin Hiraola's Single Product Area -->

    <!-- Hiraola's Single Product Area End Here -->


    <!-- Begin Hiraola's Single Product Tab Area -->

    <!-- Hiraola's Product Area Two End Here -->


    <!-- Begin Hiraola's Footer Area -->
    <div class="hiraola-footer_area">
        <div class="footer-top_area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="footer-widgets_info">

                            <div class="footer-widgets_logo">
                                <a href="#">
                                    <h2>二手书交易平台</h2>
                                </a>
                            </div>


                            <div class="widget-short_desc">
                                <p>为提供顾客更安全，友好的二手书交易平台，我们将不断扩大二手书的种类，提升质量，立志为顾客提供更优秀的服务。
                                </p>
                            </div>
                            <div class="hiraola-social_link">
                                <ul>
                                    <li class="facebook">
                                        <a href="https://www.facebook.com" data-toggle="tooltip" target="_blank"
                                           title="Facebook">
                                            <i class="fab fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="twitter">
                                        <a href="https://twitter.com" data-toggle="tooltip" target="_blank"
                                           title="Twitter">
                                            <i class="fab fa-twitter-square"></i>
                                        </a>
                                    </li>
                                    <li class="google-plus">
                                        <a href="https://www.plus.google.com/discover" data-toggle="tooltip"
                                           target="_blank" title="Google Plus">
                                            <i class="fab fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li class="instagram">
                                        <a href="https://rss.com" data-toggle="tooltip" target="_blank"
                                           title="Instagram">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="footer-widgets_area">
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="footer-widgets_info">
                                        <div class="footer-widgets_title">
                                            <h6>关于我们</h6>
                                        </div>
                                        <div class="widgets-essential_stuff">
                                            <ul>
                                                <li class="hiraola-address"><i
                                                        class="ion-ios-location"></i><span>地址：</span> 上海大学宝山校区计算机学院
                                                </li>
                                                <li class="hiraola-phone"><i
                                                        class="ion-ios-telephone"></i><span>电话：</span> <a
                                                        href="tel://+123123321345">+123 321 345</a>
                                                </li>
                                                <li class="hiraola-email"><i
                                                        class="ion-android-mail"></i><span>邮箱：</span> <a
                                                        href="mailto://info@yourdomain.com">info@yourdomain.com</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom_area">
            <div class="container">
                <div class="footer-bottom_nav">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="payment">
                                <a href="#">
                                    <img src="assets/images/footer/payment/1.png" alt="Hiraola's Payment Method">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="copyright">
                                <span>Copyright &copy; 2019.Company name All rights reserved.<a target="_blank"
                                                                                                href="http://sc.chinaz.com/moban/"></a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hiraola's Footer Area End Here -->
    <!-- Begin Hiraola's Modal Area -->

    <!-- Hiraola's Modal Area End Here -->

</div>

<!-- JS
============================================ -->
<script src="assets/js/vendor/vue.min.js"></script>
<!-- jQuery JS -->
<script src="assets/js/vendor/jquery-1.12.4.min.js"></script>
<!-- Modernizer JS -->
<script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
<!-- Popper JS -->
<script src="assets/js/vendor/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="assets/js/vendor/bootstrap.min.js"></script>

<!-- Slick Slider JS -->
<script src="assets/js/plugins/slick.min.js"></script>
<!-- Countdown JS -->
<script src="assets/js/plugins/countdown.js"></script>
<!-- Barrating JS -->
<script src="assets/js/plugins/jquery.barrating.min.js"></script>
<!-- Counterup JS -->
<script src="assets/js/plugins/jquery.counterup.js"></script>
<!-- Nice Select JS -->
<script src="assets/js/plugins/jquery.nice-select.js"></script>
<!-- Sticky Sidebar JS -->
<script src="assets/js/plugins/jquery.sticky-sidebar.js"></script>
<!-- Jquery-ui JS -->
<script src="assets/js/plugins/jquery-ui.min.js"></script>
<script src="assets/js/plugins/jquery.ui.touch-punch.min.js"></script>
<!-- Lightgallery JS -->
<script src="assets/js/plugins/lightgallery.min.js"></script>
<!-- Scroll Top JS -->
<script src="assets/js/plugins/scroll-top.js"></script>
<!-- Theia Sticky Sidebar JS -->
<script src="assets/js/plugins/theia-sticky-sidebar.min.js"></script>
<!-- Waypoints JS -->
<script src="assets/js/plugins/waypoints.min.js"></script>
<!-- Instafeed JS -->
<script src="assets/js/plugins/instafeed.min.js"></script>
<!-- Instafeed JS -->
<script src="assets/js/plugins/jquery.elevateZoom-3.0.8.min.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<!-- Vendor & Plugins JS (Please remove the comment from below vendor.min.js & plugins.min.js for better website load performance and remove js files from avobe) -->
<!--
<script src="assets/js/vendor/vendor.min.js"></script>
<script src="assets/js/plugins/plugins.min.js"></script>
-->

<!-- Main JS -->
<script src="assets/js/main.js"></script>
<script type="text/javascript">
    new Vue({
        el: '#app',
        data: {
            formDate: "",
            dialogImageUrl: '',
            dialogVisible: false,
            cartData: [
                {
                    test: 1,
                    selected: true,
                    num:1,
                },
                {
                    test: 1,
                    selected: false,
                    num:1,
                },
                {
                    test: 1,
                    selected: false,
                    num:1,
                },
                {
                    test: 1,
                    selected: false,
                    num:1,
                },
                {
                    test: 1,
                    selected: false,
                    num:1,
                },
                {
                    test: 1,
                    selected: false,
                    num:1,
                },
            ],
            form:{
                name:'',
                desc:'',
                num:'',
                price:''
            }
        },
        created() {
            console.log("test");
        },
        methods: {
            choose(id) {
                if (this.cartData[id].selected == true) {
                    this.cartData[id].selected = false;
                } else {
                    this.cartData[id].selected = true;
                }
            },
            uploadFile(file) {
                this.formDate.append('file', file.file);
            },
            subPicForm() {
                this.formDate = new FormData()
                this.$refs.upload.submit();
                this.formDate.append('WS_CODE', "12133");
                let config = {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }
                console.log(this.formDate)
                axios.post("http://localhost:8090/testPicUpload", this.formDate, config).then(res => {
                    console.log(res)
                }).catch(res => {
                    console.log(res)
                })
            },
            details: function () {
                return this.site + " - 学的不仅是技术，更是梦想！";
            },
            jump() {
                window.location.href = "list.html?name=liuziyi&age=28"
            },
            handleRemove(file, fileList) {
                console.log(file, fileList);
            },
            handlePictureCardPreview(file) {
                this.dialogImageUrl = file.url;
                this.dialogVisible = true;
            }
        }
    })
</script>
<style scoped>
    .selected {
        background: rgba(255, 246, 144, 0.73);
    }

</style>

</body>

</html>
